extends layout/layout.pug

block content
	.fx-wrapper
		header.fx-header
			.container
				.row.fx-header__front
					.fx-header__logo
						img(src="public/img/logo.svg", alt="Логотип FXCOINS")

					.col-xl-8.col-lg-8.col-md-10.col-sm-12.col-xs-12.col-xl-push-2.col-lg-push-2.col-md-push-1.col-sm-push-0
						.fx-header__text.turn-center.margin-t-25
							//p.fx-header__text-descripton-head.margin-auto-40 Начните торговать 
							h1.fx-header__text-title 
								span.fx-header__text-title--span Начните торговать 
								br 
								| контрактами CFD на акции, индексы, валюты и товары
							p.fx-header__text-descripton Прямо сейчас

						form.fx-header__form.margin-t-20.fl.fl-justify-b.fl-flow-row-wrap
							.fx-header__form-credential
								.fx-header__form-credential-top.fl.fl-justify-b
									label(for="fx-l-email")
										input(type="text" name="email" id="fx-l-email" placeholder="Е-mail")
									label(for="fx-l-name")
										input(type="text" name="first_name" id="fx-l-name" placeholder="Имя, фамилия")
								.fx-header__form-credential-bottom.margin-t-10.fl.fl-justify-b
										
									label(for="fx-l-phone").fx-label-for-number
										input(type="text" name="phone" id="fx-l-phone" placeholder="Код страны + оператор + номер телефона")
																				
									input(type="hidden" name="time" class="registration__time")
									input(type="hidden" name="message" value="true")
							.fx-header__form-submit.turn-center
								button.fx-button открыть счет
								img( class="fx-preloader" src="public/img/preloader.gif", alt="Японские свечи")

			.fx-poly-graph
				svg(width='100%', height='455', class="fx-poly-graph__svg")
					polyline.polymorph(fill='#fff', points='0 245, 330 315, 755 200, 1315 260, 1920 0, 1920 450, 0 450')
					polyline.pline(fill='none', stroke-width='5', stroke='#041d48', points='0 400, 330 450, 755 295, 1300 370, 1920 40')


		article.fx-second-flour
			.container
				.row.fx-second-flour__text.fl.fl-align-c
					section.fx-second-flour__text-center.col-xl-8.col-lg-8.col-md-7.col-sm-11.col-xs-11.col-xl-push-8.col-lg-push-6.col-md-push-5.col-sm-push-1.col-xs-push-1(itemscope itemtype="http://schema.org/Service")
						h2.fx-second-flour__title(itemprop="name") Как разобраться во всех тонкостях и нюансах криптотрейдинга?
						p.fx-second-flour__first-description(itemprop="offers") Мы поделимся с вами основными секретами успеха на крипторынке.
						p.fx-second-flour__second-description(itemprop="offers") Компания FXcoins проводит 
							span.fx-second-flour__second-description--cover обучение
							| , доступное каждому желающему, вне зависимости от возраста, образования и уровня знаний.
						a(class="fx-second-flour__link" href="#" title="Перейти к вебинарам") Перейти к вебинарам


		article.fx-third-flour
			.container
				.row.fl.fl-align-c
					section.turn-center.col-xl-9.col-lg-9.col-md-9.col-sm-12.col-xs-12
						.row
						p.fx-third-flour__description Попробуйте торговать контрактами на разницу цен без каких-либо рисков.

							h2.fx-third-flour__title
								| Откройте бесплатный
								span  Демо-счет 
								| прямо сейчас!
							a(class="fx-button-link margin-t-20 fx-scrolling-to-footer" href="#footer-free") попробовать бесплатно


		article.fx-five-flour
			.container
				.row.fl.fl-align-c.fl-flow-row-wrap.margin-b-20
					section.fx-four-flour__first-text-block.col-xl-5.col-lg-5.col-md-5.col-sm-12.col-xs-12
						h2.fx-four-flour__title Неограниченные возможности
						p.fx-five-flour__description на фондовых рынках Европы, Азии и США с компанией FxCoins
						
					section.fx-four-flour__second-text-block.col-xl-5.col-lg-5.col-md-5.col-sm-12.col-xs-12
						h2.fx-four-flour__title Шототам о чём-то там
						p.fx-five-flour__description строчка номер 1 номер два строка и номер три тоже тут
						
					//.fx-five-flour__marp.col-xl-7.col-lg-7.col-md-7.col-sm-12.col-xs-12
						img(src="public/img/map.png", alt="Торговля на фондовых рынках Германии, Японии и США с компанией DAX 100")
						.fx-five-flour__marp-placeholder
							.marp-placeholder.fx-five-flour__marp-placeholder-austria
							.marp-placeholder.fx-five-flour__marp-placeholder-moscow
							.marp-placeholder.fx-five-flour__marp-placeholder-tallinn

		footer.fx-footer
			.container
				.row
					.fx-footer-top-text.col-xl-10.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-xl-push-1.col-lg-push-1.col-md-push-0.col-sm-push-0
						p.fx-footer-top-text__title.turn-center
							span Откройте счет 
							| прямо сейчас 
							br 
							| и получите доступ к обширному выбору инструментов для торговли.

					.fx-footer-top-form.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12.fl.fl-align-c.fl-justify-c
						.fx-footer-top-form-left.col-xl-2.col-lg-2.col-md-2.col-sm-2.col-xs-2.fl.fl-align-c.fl-justify-end.margin-t-30
							svg(width="75" height="45")
								g(id="R1" transform="rotate(180) translate(-70 -40)")
									polyline(fill="none" stroke="#ea8707" stroke-width="2px" points="20,0 1,20 20,40")
										animate(
											attributeName="stroke"
											begin="2s;op.end+2s"
											dur="1s"
											values = "#ea8707; #f5edcd; #f6b159; #ea8707"
											repeatCount="indefinite"
											)
									polyline(fill="none" transform="translate(25 0)" stroke="#f6b159" stroke-width="2px" points="20,0 1,20 20,40")
										animate(
											attributeName="stroke"
											begin="1.5s;op.end+1.5s"
											dur="1s"
											values="#f6b159; #ea8707; #f5edcd; #f6b159"
											repeatCount="indefinite"
											)
									polyline(fill="none" transform="translate(50 0)" stroke="#f5edcd" stroke-width="2px" points="20,0 1,20 20,40")
										animate(
											attributeName="stroke"
											begin="1s;op.end+1s"
											dur="1s"
											values="#f5edcd; #f6b159; #ea8707; #f5edcd"
											repeatCount="indefinite"
											)
											
											
						.fx-footer-top-form-center.col-xl-8.col-lg-8.col-md-8.col-sm-8.col-xs-12
							form.fx-header__form.margin-t-40.fl.fl-justify-b.fl-flow-row-wrap
								.fx-header__form-credential
									.fx-header__form-credential-top.fl.fl-justify-b
										label(for="fx-l-email")
											input(type="text" name="email" id="fx-l-email" placeholder="Е-mail" required)
										label(for="fx-l-name")
											input(type="text" name="first_name" id="fx-l-name" placeholder="Имя, фамилия" required)
									.fx-header__form-credential-bottom.margin-t-10.fl.fl-justify-b
									
									label(for="fx-l-phone").fx-label-for-number
										input(type="text" name="phone" id="fx-l-phone" placeholder="Код страны + оператор + номер телефона")
											
										input(type="hidden" name="time" class="registration__time")
										input(type="hidden" name="message" value="true")
								.fx-footer__form-submit
									button.fx-button открыть счет

						.fx-footer-top-form-right.col-xl-2.col-lg-2.col-md-2.col-sm-2.col-xs-2.fl.fl-align-c.fl-justify-start.margin-t-30
							svg(width="75" height="45")
								g(id="R2")
									polyline(fill="none" stroke="#f5edcd" stroke-width="2px" points="20,0 1,20 20,40")
										animate(
											attributeName="stroke"
											begin="2s;op.end+2s"
											dur="1s"
											values="#f5edcd; #ea8707; #f6b159; #f5edcd"
											repeatCount="indefinite"
											)
									polyline(fill="none" transform="translate(25 0)" stroke="#f6b159" stroke-width="2px" points="20,0 1,20 20,40")
										animate(
											attributeName="stroke"
											begin="1.5s;op.end+1.5s"
											dur="1s"
											values="#f6b159; #f5edcd; #ea8707; #f6b159"
											repeatCount="indefinite"
											)
									polyline(fill="none" transform="translate(50 0)" stroke="#ea8707" stroke-width="2px" points="20,0 1,20 20,40")
										animate(
											attributeName="stroke"
											begin="1s;op.end+1s"
											dur="1s"
											values = "#ea8707; #f6b159; #f5edcd; #ea8707"
											repeatCount="indefinite"
											)
											
					.fx-footer-top-contact.col-xl-10.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-xl-push-1.col-lg-push-1.col-md-push-0.col-sm-push-0.fl.fl-align-c.fl-justify-c
							a(class="fx-footer-top-contact-phone fx-footer-top-contact__item" href="tel:+3728801048" title="+ 372 880 10 48") + 372 880 10 48 
							
							.fx-footer-top-contact-logo.fx-footer-top-contact__item
								img(src="public/img/logo.svg", alt="Логотип FXCOINS")
								
							a(class="fx-footer-top-contact-mail fx-footer-top-contact__item" href="mailto:support@fxcoin.com" title="support@fxcoin.com") support@fxcoin.com
							
					.fx-footer-top-social.col-xl-10.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-xl-push-1.col-lg-push-1.col-md-push-0.col-sm-push-0
						.fx-footer-top-social__list.fl.fl-justify-b.fl-justify-c
							a(class="fx-footer-top-social__item fx-footer-top-social__item-fb" target="_blank" href="#")
							a(class="fx-footer-top-social__item fx-footer-top-social__item-vk" target="_blank" href="https://vk.com/fxcoins")
							a(class="fx-footer-top-social__item fx-footer-top-social__item-instagram" target="_blank" href="https://www.instagram.com/fxcoins")
							a(class="fx-footer-top-social__item fx-footer-top-social__item-ok" target="_blank" href="https://ok.ru/group/55429814878208")
							a(class="fx-footer-top-social__item fx-footer-top-social__item-yt" target="_blank" href="https://www.youtube.com/channel/UCpyoGa3wCZ43uf9Oy08PNTw")
							a(class="fx-footer-top-social__item fx-footer-top-social__item-gplus" target="_blank" href="https://plus.google.com/u/1/communities/104970727789024780960")

			hr.fx-footer-hr

			.container#footer-free
				.row
					.fx-footer-bottom-content.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.row
							.fx-footer-bottom-contact.col-xl-8.col-lg-8.col-md-8.col-sm-12.col-xs-12
							//	ul.fx-footer-bottom-contact__list.fl.fl-align-s.fl-justify-b
									li.fx-footer-bottom-contact__list-item
										p.fx-footer-bottom-contact__list-item-text КОНТАКТЫ
									li.fx-footer-bottom-contact__list-item
										p.fx-footer-bottom-contact__list-item-text.margin-b-10 Телефон:
											a.core-links-square(href="tel:+3728801048") + 372 880 10 48
										p.fx-footer-bottom-contact__list-item-text Факс:
											a.core-links-square(href="tel:+3728801049") + 372 880 10 49
									li.fx-footer-bottom-contact__list-item
										p.fx-footer-bottom-contact__list-item-text Эл. почта:
											a.core-links-square(href="mailto:support@dax100.org") support@dax100.org
							.fx-footer-bottom-social.col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12

					.fx-footer-bottom-text.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
						p.fx-footer-bottom-text-information
							| Торговля валютными парами и контрактами на разницу цен связана с риском потери инвестированного капитала в связи с использованием кредитного плеча. Нажмите 
							a(target="_blank" href="#") уведомление о рисках
							| , чтобы ознакомиться с полным текстом нашего предупреждения. Информация, содержащаяся на данном веб-сайте и в опубликованных на нем документах, имеет общий характер и не учитывает ваши личные обстоятельства, финансовое положение или потребности. Для того чтобы оценить, подходит ли вам торговля такими финансовыми продуктами, вы должны внимательно ознакомиться с нашим
							a(target="_blank" href="#")  Пользовательским соглашением 
							| и получить независимую консультацию.
